@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}


/* REMOVIDO: prefers-color-scheme: dark */

body {
  background: var(--background);
  color: var(--foreground);
}
